.section {
  padding: 44px 0 100px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 40px;
}

@media (max-width: 1024px) {
  .section {
    padding: 32px 0 70px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 44px 28px;
  }
}

@media (max-width: 640px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
